.summary .apps {
  display: flex;
  gap: 1rem;
}

.summary .stars {
  margin-bottom: 0.5rem;

  display: flex;
  gap: 0.25rem;
}

.summary .rating {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.summary .text > * {
  margin-bottom: 2rem;
}

.summary {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.summary .image {
  background-image: url("../assets/summary.png");
  background-size: cover;
}

.about .text-big {
  color: var(--white);
}

.about .text p:last-of-type {
  color: var(--mainColorLight);
}

.about .text {
  margin-bottom: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.about .card .image {
  height: 21.25rem;
}

.about .card .text-fade {
  color: var(--gray);
}

.about .card {
  padding: 1rem;
  flex: 1 1 0;
  min-width: 22.5rem;

  display: grid;
  gap: 1rem;

  box-shadow: 0.25rem 0.25rem 1rem rgba(33, 33, 33, 0.1);
  background-color: var(--white);
  border-radius: 1rem;
}

.about .card .image {
  border-radius: 1rem;
  background-size: cover;

  /* для img bg-image */
  position: relative;
}

.about .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.about {
  padding: 2rem;

  border-radius: 1rem;
  background-image: url("../assets/about-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.more .circle {
  width: 1rem;
  height: 1rem;
  background-image: url("../assets/circle.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.more .dotted-line {
  height: 100%;
  width: 0.2rem;
  background-image: url("../assets/dotted-line.svg");
}

.more .mark {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more ul .text .text-fade {
  margin: 1rem 0;
}

.more li {
  display: flex;
  gap: 2rem;
}

.more .text > .text-fade {
  margin: 1rem 0;
}

.more .image {
  background-image: url("../assets/more.png");
  background-size: cover;
}

.more {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.faq .hidden {
  display: none;
}

.faq button {
  border: none;
  background: none;
  cursor: pointer;
}

.faq ul {
  list-style: none;
}

.faq .q * {
  font-size: 1.25rem;
  font-weight: 700;
}

.faq .q {
  margin: 1rem 0;

  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.faq .text-heading {
  margin-bottom: 1rem;
}

.faq .a * {
  color: var(--gray);
}

.faq .a ol {
  margin-left: 2rem;
}

.faq .image {
  background-image: url("../assets/faq-bg.png");
  background-size: cover;
}

.faq {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.download .text-fade {
  margin: 1rem 0;
}

.download .apps {
  display: flex;
  gap: 1rem;
}

.download .image {
  background-image: url("../assets/download-bg.png");
  background-size: cover;
}

.download {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
