:root {
	--black: #212121;
	--gray: #d6cfd2;
	--white: #fdfdfd;
	--mainColorLight: #fff3f7;
	--mainColor: #ffa6c9;
	--mainColorDark: #996378;
	--gold: #fbbc12;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	color: var(--black);
	transition: all 0.2s ease;
}

body {
	position: relative;
	background-color: var(--white);
}

p {
	font-size: 16px;
}

small {
	font-size: 0.875rem;
}

a {
	text-decoration: none;
}

a:hover {
	color: var(--mainColorDark);
}

.text-large {
	font-size: 3rem;
	font-weight: 600;
	text-transform: capitalize;
}

.text-big {
	font-size: 2.5rem;
	font-weight: 600;
	text-transform: capitalize;
}

.text-heading {
	font-size: 2rem;
	font-weight: 600;
	text-transform: capitalize;
}

.text-fade {
	font-weight: 600;
	color: var(--gray);
}

.bold {
	font-weight: 600;
}

.bg-image {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}

.btn {
	padding: 0.75rem;

	border-radius: 0.5rem;
	border: none;
	font-weight: 600;
	font-size: 1rem;
	background-color: var(--mainColor);
	color: var(--white);
}

.btn:hover {
	background-color: var(--mainColorDark);
	cursor: pointer;
}

header .logo {
	width: 5.875rem;
	height: 2.5rem;
}

header nav {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 2rem;
}

header {
	padding: 1rem 4rem;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.summary .apps {
	display: flex;
	gap: 1rem;
}

.summary .stars {
	margin-bottom: 0.5rem;

	display: flex;
	gap: 0.25rem;
}

.summary .rating {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.summary .text > * {
	margin-bottom: 2rem;
}

.summary {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
}

.summary .image {
	background-image: url('../assets/summary.png');
	background-size: cover;
}

.about .text-big {
	color: var(--white);
}

.about .text p:last-of-type {
	color: var(--mainColorLight);
}

.about .text {
	margin-bottom: 1rem;

	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 1rem;
}

.about .card .image {
	height: 21.25rem;
}

.about .card .text-fade {
	color: var(--gray);
}

.about .card {
	padding: 1rem;
	flex: 1 1 0;
	min-width: 22.5rem;

	display: grid;
	gap: 1rem;

	box-shadow: 0.25rem 0.25rem 1rem rgba(33, 33, 33, 0.1);
	background-color: var(--white);
	border-radius: 1rem;
}

.about .card .image {
	border-radius: 1rem;
	background-size: cover;

	/* для img bg-image */
	position: relative;
}

.about .cards {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
}

.about {
	padding: 2rem;

	border-radius: 1rem;
	background-image: url('../assets/about-bg.svg');
}
