/* отдельно для настройки размеров шрифта */
@media (max-width: 400px) {
	p {
		font-size: 14px;
	}

	small {
		font-size: 0.8rem;
	}

	.text-large {
		font-size: 2rem;
		font-weight: 600;
	}

	.text-big {
		font-size: 1.75rem;
		font-weight: 600;
	}

	.text-heading {
		font-size: 1.25rem;
		font-weight: 600;
	}
}

@media (max-width: 400px) {
	.cards {
		flex-direction: column;
	}

	.card {
		min-width: 1rem;
	}
}

@media (max-width: 680px) {
	header {
		gap: 2rem;
		flex-wrap: wrap;
	}
}

@media (max-width: 900px) {
	/* на самом деле блок и так скроется,
  но на всякий случай задам явно */
	.more .image {
		opacity: 0;
	}

	.more {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 1320px) {
	/* на самом деле блок и так скроется,
  но на всякий случай задам явно */
	.summary .image {
		opacity: 0;
	}

	.summary {
		position: relative;
		grid-template-columns: 1fr;
	}
}
