@media (max-width: 400px) {
  .about .cards {
    flex-direction: column;
  }

  .about .card {
    min-width: 1rem;
  }

  .about .card .image {
    height: 10rem;
  }
}

@media (max-width: 660px) {
  /* на самом деле блок и так скроется,
  но на всякий случай задам явно */
  .download .image {
    display: none;
  }

  .download {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 900px) {
  /* на самом деле блок и так скроется,
  но на всякий случай задам явно */
  .faq .image,
  .more .image {
    display: none;
  }

  .faq,
  .more {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1320px) {
  /* на самом деле блок и так скроется,
  но на всякий случай задам явно */
  .summary .image {
    display: none;
  }

  .summary {
    grid-template-columns: 1fr;
  }
}
